@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../src/ktb-ui-theme/theme.scss';
@import './preview-style.scss';

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.overview {
  &.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
    gap: 1rem;
  }
}

.label {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

//primary
.precious-blue-900 {
  @extend %big-box;
  @extend %text-color-white;
  position: relative;
  background-color: $color-primary;
}

.precious-blue-800 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-800;
}

.precious-blue-700 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-700;
}

.precious-blue-600 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-600;
}

.precious-blue-500 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-500;
}

.precious-blue-400 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-400;
}

.precious-blue-300 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-300;
}

.precious-blue-200 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-200;
}

.precious-blue-100 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-100;
}

.precious-blue-50 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $precious-blue-50;
}

//neutral
.dark-grey {
  @extend %big-box;
  @extend %text-color-white;
  position: relative;
  background: $dark-grey;
}

.medium-grey {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background: $medium-grey;
}

.grey {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background: $grey;
}

.medium-light-grey {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background: $medium-light-grey;
}

.light-grey {
  @extend %small-box;
  @extend %text-color-black;
  position: relative;
  background: $light-grey;
}

.pale-grey {
  @extend %small-box;
  @extend %text-color-black;
  position: relative;
  background: $pale-grey;
}

.white {
  @extend %small-box;
  @extend %text-color-black;
  position: relative;
  background: $white;
}

.overlay {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background: $overlay;
}

//secondary
.golden-yellow-400 {
  @extend %big-box;
  @extend %text-color-white;
  position: relative;
  background-color: $color-accent;
}

.golden-yellow-300 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $golden-yellow-300;
}

.golden-yellow-200 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $golden-yellow-200;
}

.golden-yellow-100 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $golden-yellow-100;
}

.golden-yellow-50 {
  @extend %small-box;
  @extend %text-color-white;
  position: relative;
  background-color: $golden-yellow-50;
}

// communications
.success {
  @extend %square-box;
  @extend %text-color-white;
  background: $success;
}

.error {
  @extend %square-box;
  @extend %text-color-white;
  background: $error;
}

.alert {
  @extend %square-box;
  @extend %text-color-white;
  background: $alert;
}

.highlight {
  @extend %square-box;
  @extend %text-color-white;
  background: $highlight;
}

// extended
.medium-turquoise {
  @extend %square-box;
  @extend %text-color-white;
  background: $medium-turquoise;
}

.terra-cotta-red {
  @extend %square-box;
  @extend %text-color-white;
  background: $terra-cotta-red;
}

.ktb-baby-blue {
  @extend %square-box;
  @extend %text-color-white;
  background: $ktb-baby-blue;
}

.ktb-blue {
  @extend %square-box;
  @extend %text-color-white;
  background: $ktb-blue;
}

.ktb-blue-ncs {
  @extend %square-box;
  @extend %text-color-white;
  background: $ktb-blue-ncs;
}

//gradient
.dashboard-top-bar {
  @extend %square-box;
  @extend %text-color-white;
  background: $dashboard-top-bar;
}

.small-card {
  @extend %square-box;
  @extend %text-color-white;
  background: $small-card;
}

.large-card {
  @extend %square-box;
  @extend %text-color-white;
  background: $large-card;
}

.sub-menu {
  @extend %square-box;
  @extend %text-color-white;
  background: $sub-menu;
}

.ktb-top-bar {
  @extend %square-box;
  @extend %text-color-white;
  background: $ktb-top-bar;
}

.mobile-card {
  @extend %square-box;
  @extend %text-color-white;
  background: $mobile-card;
}

.chart-02-blue {
  @extend %square-box;
  @extend %text-color-white;
  background: $chart-02-blue;
}

.chart-02-grey {
  @extend %square-box;
  @extend %text-color-white;
  background: $chart-02-grey;
}

// color text styles
.stick-right {
  position: absolute;
  right: 20px;
}

.gradient-short-text-middle {
  position: relative;
  top: 60px;
  bottom: 60px;
}

//header
.h1-light {
  @extend %text-margin;
  @include font-style-h1($font-family-krungthai-fast, $font-weight-light);
}

.h1-regular {
  @extend %text-margin;
  @include font-style-h1($font-family-krungthai-fast, $font-weight-regular);
}

.h1-bold {
  @extend %text-margin;
  @include font-style-h1($font-family-krungthai-fast, $font-weight-bold);
}

.h2-light {
  @extend %text-margin;
  @include font-style-h2($font-family-krungthai-fast, $font-weight-light);
}

.h2-regular {
  @extend %text-margin;
  @include font-style-h2($font-family-krungthai-fast, $font-weight-regular);
}

.h2-bold {
  @extend %text-margin;
  @include font-style-h2($font-family-krungthai-fast, $font-weight-bold);
}

.h3-regular {
  @extend %text-margin;
  @include font-style-h3($font-family-krungthai-fast, $font-weight-regular);
}

.h3-bold {
  @extend %text-margin;
  @include font-style-h3($font-family-krungthai-fast, $font-weight-bold);
}

.h4-regular {
  @extend %text-margin;
  @include font-style-h4($font-family-krungthai-fast, $font-weight-regular);
}

.h4-bold {
  @extend %text-margin;
  @include font-style-h4($font-family-krungthai-fast, $font-weight-bold);
}

.h5-regular {
  @extend %text-margin;
  @include font-style-h5($font-family-krungthai-fast, $font-weight-regular);
}

.h5-bold {
  @extend %text-margin;
  @include font-style-h5($font-family-krungthai-fast, $font-weight-bold);
}

.body1-light {
  @extend %text-margin;
  @include font-style-body1($font-family-krungthai-smart, $font-weight-light)
}

.body1-regular {
  @extend %text-margin;
  @include font-style-body1($font-family-krungthai-smart, $font-weight-regular)
}

.body2-light {
  @extend %text-margin;
  @include font-style-body2($font-family-krungthai-smart, $font-weight-light)
}

.body2-regular {
  @extend %text-margin;
  @include font-style-body2($font-family-krungthai-smart, $font-weight-regular)
}

.body3-light {
  @extend %text-margin;
  @include font-style-body3($font-family-krungthai-smart, $font-weight-light)
}

.body3-regular {
  @extend %text-margin;
  @include font-style-body3($font-family-krungthai-smart, $font-weight-regular)
}

.subtitle1-regular {
  @extend %text-margin;
  @include font-style-subtitle1($font-family-krungthai-fast, $font-weight-regular)
}

.subtitle1-bold {
  @extend %text-margin;
  @include font-style-subtitle1($font-family-krungthai-fast, $font-weight-bold)
}

.subtitle2-regular {
  @extend %text-margin;
  @include font-style-subtitle2($font-family-krungthai-fast, $font-weight-regular)
}

.subtitle2-bold {
  @extend %text-margin;
  @include font-style-subtitle2($font-family-krungthai-fast, $font-weight-bold)
}

.caption1-regular {
  @extend %text-margin;
  @extend %caption-width;
  @include font-style-caption1($font-family-krungthai-fast, $font-weight-regular)
}

.caption1-bold {
  @extend %text-margin;
  @extend %caption-width;
  @include font-style-caption1($font-family-krungthai-fast, $font-weight-bold)
}

.caption2-regular {
  @extend %text-margin;
  @extend %caption-width;
  @include font-style-caption2($font-family-krungthai-fast, $font-weight-regular)
}

.caption2-bold {
  @extend %text-margin;
  @extend %caption-width;
  @include font-style-caption2($font-family-krungthai-fast, $font-weight-bold)
}

.label-regular {
  @include font-style-label($font-family-krungthai-fast, $font-weight-regular)
}

.label-bold {
  @include font-style-label($font-family-krungthai-fast, $font-weight-bold)
}

.button-bold {
  @extend %button-spacing;
  @include font-style-button($font-family-krungthai-fast, $font-weight-bold)
}

.header-margin {
  margin-bottom: 30px;
}

.typography-text-placement {
  display: inline-block;
  margin-right: 70px;
  font-size: 45px;
}

.empty-box-header {
  height: 58px;
}

// icons library
.icon-container {
  height: 500px;
  width: 100%;
  background-color: #d0d0d0;
}

.icon-margin {
  display: inline-block;
  margin: 15px;
}

.ktb-icon {
  font-size: 24px;
}