<div ktbContainer *ngFor="let alert of alerts" class="{{ alertStyle(alert) }}">
  <div class="{{ alertStyle(alert) }}--text">
    <span [innerHTML]="alert.message"></span>
  </div>
  <a class="close" (click)="removeAlert(alert)">&times;</a>
</div>

<!-- <div>
  <button class="btn btn-success m-1" (click)="_alertService.success('ALERT: These are scam calls targeting customers to make bank transfers. DO NOT disclose any account details, USER Id, PINS or SMS OTPs. Learn more.', options)">Success</button>
  <button class="btn btn-danger m-1" (click)="_alertService.error('ALERT: These are scam calls targeting customers to make bank transfers. DO NOT disclose any account details, USER Id, PINS or SMS OTPs. Learn more.', options)">Error</button>
  <button class="btn btn-warning m-1" (click)="_alertService.warn('ALERT: These are scam calls targeting customers to make bank transfers. DO NOT disclose any account details, USER Id, PINS or SMS OTPs. Learn more.', options)">Warning</button>
</div> -->
