<!-- <ng-container *ngIf="alert">
  <div ktbContainer>
    <div class="{{ alertStyle(alert) }}">
      <div class="icon-container">
        <p>Icon</p>
        <ktb-icons class="icon-margin" name="tick"></ktb-icons>
      </div>
      <div class="{{ alertStyle(alert) }}--text">
        <span [innerHTML]="alert.message"></span>
        <ng-container *ngFor="let link of alert.link">
          <a [href]="link.href" target="_blank"> {{ link.text }}</a>
        </ng-container>
      </div>
      <a class="close" (click)="handleClick($event)">{{ linkLabel }}</a>
    </div>
  </div>
</ng-container> -->

<div ktbContainer *ngIf="isVisible">
  <div class="alert-body">
    <div class="alert-icon">
      <ktb-icon class="icon-margin" name="correct"></ktb-icon>
    </div>
    <span>{{ message }}</span>

    <ng-container *ngFor="let link of linkLabel">
      <a [href]="link.href" target="_blank"> {{ link.text }}</a>
    </ng-container>

    <div>
      <a class="close" (click)="handleClick($event)">&times;</a>
    </div>
  </div>
</div>
