@import '../ktb-ui-theme/theme.scss';

//default styles
.ktb-alert {
  .alert-icon {
    padding-left: 22px;
  }
  .alert-body {
    width: 1140px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-family: $font-family-krungthai-fast;
    font-size: $font-size-body3;
    line-height: 22px;
    font-weight: 400;
    flex: 1;
  }
  a {
    font-family: $font-family-krungthai-fast;
    font-size: $font-size-body3;
    font-weight: 400;
  }
}

//types override
.alert--success {
  .alert-icon {
    padding-left: 22px;
  }
  .alert-body {
    background: #e0f7f7;
    border: 1px solid $ktb-blue;
    color: $success;
  }

  a {
    color: $success;
  }
}

.alert--warn {
  .alert-icon {
    padding-left: 22px;
  }
  .alert-body {
    background: #fee9eb;
    border: 1px solid $error;
    color: $error;
  }

  a {
    color: $error;
  }
}

.alert--error {
  .alert-icon {
    padding-left: 22px;
  }
  .alert-body {
    background: $golden-yellow-50;
    border: 1px solid $golden-yellow-400;
    color: $dark-grey;
  }

  a {
    color: $dark-grey;
  }
}

.icon-container {
  padding-left: 22px;
}

.close {
  color: $medium-grey;
  margin-right: 22px;
}
