<ng-container *ngIf="alert">
  <div ktbContainer class="{{ alertStyle(alert) }}">
    <div class="iconContainer">
      <p>Icon</p>
      <!--<ktb-icons class="icon-margin" name="tick"></ktb-icons>-->
    </div>
    <div class="{{ alertStyle(alert) }}--text">
      <span [innerHTML]="alert.message"></span>
      <ng-container *ngFor="let link of alert.link">
        <a [href]="link.href" target="_blank"> {{ link.text }}</a>
      </ng-container>
    </div>
    <a class="close" (click)="alert = undefined">&times;</a>
  </div>
</ng-container>
